[submodule "ml-engine/distributed-tensorflow-mnist-cloud-datalab/cloudml-dist-mnist-example"]
	path = ml-engine/distributed-tensorflow-mnist-cloud-datalab/cloudml-dist-mnist-example
	url = git@github.com:GoogleCloudPlatform/cloudml-dist-mnist-example.git
[submodule "ml-engine/cloudml-samples"]
	path = ml-engine/cloudml-samples
	url = git@github.com:GoogleCloudPlatform/cloudml-samples.git
